annotated-types==0.7.0
anyio==4.12.0
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
bitarray==3.8.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1749686179973/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1764017116075/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1767500808759/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1761202952988/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
ckzg==2.1.5
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1765816523856/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1764081326783/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1751548120229/work
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1767576766376/work
cytoolz==1.1.0
distlib==0.3.9
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
filelock==3.20.0
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1763082885869/work
fsspec==2025.12.0
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hexbytes==1.3.1
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
iniconfig==2.3.0
Jinja2==3.1.6
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1756754188614/work
libmambapy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_libmambapy_1764158592/work/libmambapy
llvmlite==0.46.0
MarkupSafe==3.0.3
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1761299914766/work
more-itertools==10.8.0
mpmath==1.3.0
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1762504198966/work
networkx==3.6.1
numba==0.63.1
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1766383302/work/dist/numpy-2.3.5-cp312-cp312-macosx_11_0_arm64.whl#sha256=8bff02e41782a2de259594e06224dd1a01d419e4762d3d9eefed1070946bca5a
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
parsimonious==0.10.0
pipenv==2024.4.1
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1759953252/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1747339660894/work
poly_eip712_structs==0.0.1
py_builder_signing_sdk==0.0.2
py_clob_client==0.32.0
py_order_utils==0.3.2
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1757744682161/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==9.0.2
python-dotenv==1.2.1
pyworld @ file:///Users/runner/miniforge3/conda-bld/pyworld_1761314413996/work
regex==2025.11.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rlp==4.1.0
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1761160761767/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1760564263846/work
setuptools==80.9.0
sympy==1.14.0
tiktoken==0.12.0
toolz==1.1.0
torch==2.9.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1753886790/work
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
virtualenv==20.30.0
websockets==15.0.1
wheel==0.45.1
zstandard==0.25.0
